body{
    align-items: center;
    background-color: #30d130;
}

h1{
    font-size: 8rem;
    color: white;
    font-family: 'Gill Sans';
    text-align: center;
}

span{
    font-size: 3.5;
    color: white;
    font-family: 'Courier New';
    text-align: center;
}