:root {
    --h1-font-size: 6rem;
    --span-font-size: 3.5rem;
    --input-size: 20.75rem;
    --h1-color: #ffffff;
    --span-color: #ffffff;
    --button-color: #ffffff;
    --form-background: #000000;
}

@media screen and (max-width: 540px) {
    :root {
        --h1-font-size: 2.5rem;
        --span-font-size: 1.75rem;
        --input-size: 10.8rem;
    }
}

*,
::after,
::before {
    box-sizing: border-box;
    font-family: 'Instrument Serif', sans-serif;
}

body {
    margin: 0;
}

.hero-container {
    background: url(../img/suwiii.jpg) center/cover;
    height: 100vh;
    position: relative;
    clip-path: circle(65%);
}

.hero-container::before {
    content: "";
    background: var(--form-background);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.hero-body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

h1 {
    margin: 0;
    color: var(--h1-color);
    font-size: var(--h1-font-size);
}

span {
    color: var(--span-color);
    font-size: var(--span-font-size);
}

.main-formulario {
    text-align: center;
    background-color: var(--form-background);
    padding: 30px;
    border: 2px solid #000000;
    margin: auto;
    margin-top: -70px;
}

form {
    max-width: 600px;
    margin: auto;
}

label {
    color: var(--h1-color);
    display: block;
    margin-top: 10px;
}

input,
textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

input[type="radio"] {
    cursor: pointer;
    size: 15px;
}

input[type="submit"] {
    background-color: var(--button-color);
    color: #000000;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #000000;
    color: #ffffff;
}

#error {
    color: red;
    list-style-type: none;
    padding: 0;
}

#error li {
    color: red;
    margin-top: 5px;
}